<h1>Show Courier</h1>

<ul>

  <li>
    <strong>Company:</strong>
    <%= @courier.company_id %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.admin_courier_path(@conn, :edit, @courier) %></span>
<span><%= link "Back", to: Routes.admin_courier_path(@conn, :index) %></span>
