<h1>Show Order</h1>

<ul>

  <li>
    <strong>Pickup:</strong>
    <%= @order.pickup %>
  </li>

  <li>
    <strong>Status:</strong>
    <%= @order.status %>
  </li>

  <li>
    <strong>User:</strong>
    <%= @order.user_id %>
  </li>

  <li>
    <strong>Patient:</strong>
    <%= @order.patient_id %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.dms_order_path(@conn, :edit, @order) %></span>
<span><%= link "Back", to: Routes.dms_order_path(@conn, :index) %></span>
