<h1>Show Patient</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @patient.name %>
  </li>

  <li>
    <strong>Address:</strong>
    <%= @patient.address_id %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.dms_patient_path(@conn, :edit, @patient) %></span>
<span><%= link "Back", to: Routes.dms_patient_path(@conn, :index) %></span>
